* {
    margin: 0;
    padding: 0;
    }

body{
    min-width: 100%;
    font-family: 'Raleway', sans-serif;
}

section {
    width: 100%;
}

.home {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myName {
    font-size: 90px;
    color: #d9d9d9 ;
}

.about {
    background-color:  #cc6666;
}

.aboutHeading {
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    text-decoration: underline;
}

.aboutPara {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

.aboutMe {
    display: flex;
}

.profile {
    height: 500px;
    width: 500px;
}

strong {
    font-size: 25px;
}

li{
    padding-bottom: 30px;
}

.contact {
    background-color: #99ff99;

}

.contactMe {
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    text-decoration: underline;
}
img
{
    margin-left: 200px;
}